<h4>about us</h4>

<div class="riya">

  <div class="img" >
  
       <div class="page">
          <img  src="../../../assets/about2.jpg"  width="300vw" height="300vh"/>
        
      </div>   
  
       <div class="page2" >
          <img src=" ../../../../../assets/about1.jpg" width="300vw" height="300vh"/>
      </div> 
     
    </div>
    <div class="siya">
<h1>We've Been Thriving in 37 Years The Area</h1>
<br/>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Quis suspendisse
  ultrices gravida. Risus commodo viverra lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Lorem sed do eiusmod tempor incididunt.
  Risus commodo viverra lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Lorem sed do eiusmod tempor incididunt.
</p>
</div>

</div>
<br><br><br><br>
<div class="priya">
<div class="row" style="background-color: white;">
  <div class="column" col-lg-6 col-md-6 col-sm-12>
    <h3>Our History</h3>

    <p>
      Lorem ipsum dolor sit amet, con se ctetur adipiscing elit. In
      sagittis eg esta ante, sed viverra nunc tinci dunt nec elei fend et
      tiram ctetur ipsum.
    </p>
  </div>
</div>
<div class="row"  >
  <div class="column" col-lg-6 col-md-6 col-sm-12 >
    <h3>Our Mission</h3>

    <p>
      Lorem ipsum dolor sit amet, con se ctetur adipiscing elit. In
      sagittis eg esta ante, sed viverra nunc tinci dunt nec elei fend et
      tiram ctetur ipsum.
    </p>
  </div>
</div>
<div class="row">
  <div class="column" col-lg-6 col-md-6 col-sm-12>
    <h3>Who We Are</h3>

    <p>
      Lorem ipsum dolor sit amet, con se ctetur adipiscing elit. In
      sagittis eg esta ante, sed viverra nunc tinci dunt nec elei fend et
      tiram ctetur ipsum.
    </p>
  </div>
</div>
</div>
<br /><br /><br />
<div class="dip">
<h3 ><b>Why Choose Us </b></h3>
<p>
  Who take care of a house like their own. Even if you do not own the
  house, you consider it your own and take care of it. You have organised
  the home to make a home for yourself. Your stay might be limited, the
  memories made there aren’t. So it is your duty to protect the content of
  your home.
</p>


  <div >
    <div class="greet">
      <p>25 Years Of Experience</p>
    
      <p>24/7 Support</p>
    </div>

    <div class="preet">
      <p>Service With Love</p>
    
      <p>Clients Focused</p>
    </div>
  </div>

</div>

