<div>
    <div style="display: flex; flex-direction: row; padding-top:1%;">
        <div style="width:80vw ;"></div>
        <div>
            <button class="btn btn-outline-primary">Call us</button>
        </div>
    </div>

    <hr>
    <div style="display: flex; flex-direction: row;">

        <div>
            <div  style="position:absolute; z-index:1; padding:9% 7% 7% 4%; ">
                <h5 style="color:white;">Login to</h5>
                <h4 style="color:white;">Renew Your Health Policy</h4>
            </div>
            <img src="../../../assets/login_logo.png" style="height:90vh; width:35vw; ">

            
        </div>
        <div style="justify-items: center; width: 65vw; padding: 8%; ">
            <h6>Hi, Please enter your</h6>

            <h3>Mobile Number</h3>

           <input type="number" class="form-control">
           <br>
           <button class="btn btn-danger" (click)="onSubmit()" style="width:15vw ; padding: 1%;">Get OTP</button>
        </div>
    </div>