<!-- <p>footer works!</p> -->
<div class="footer">
    <div class="container">
        <br>
        <h3>More Products</h3>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h5>General Insurance</h5>
                <p><a href="https://www.policybazaar.com/motor-insurance/car-insurance/">Car Insurance</a></p>
                <p><a href="https://www.policybazaar.com/motor-insurance/two-wheeler-insurance/">Bike Insurance</a></p>
                <p><a href="https://www.policybazaar.com/motor-insurance/">Motor Insurance</a></p>
                <p><a href="https://www.policybazaar.com/motor-insurance/third-party-insurance/">Third Party Car
                        Insurance</a></p>
                <p><a href="https://www.policybazaar.com/motor-insurance/third-party-two-wheeler-insurance/">Third Party
                        Bike Insurance</a></p>
                <p><a href="https://www.policybazaar.com/travel-insurance/">Travel Insurance</a></p>
                <p><a href="https://www.policybazaar.com/motor-insurance/commercial-vehicle-insurance/">Commercial
                        Vehicle Insurance</a></p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h5>Life Insurance</h5>
                <p><a href="https://www.policybazaar.com/life-insurance/term-insurance/">Term Insurance</a></p>
                <p><a href="https://www.policybazaar.com/life-insurance/term-insurance-calculator/">Term Insurance
                        Calculator</a>
                </p>
                <p><a href="https://www.policybazaar.com/life-insurance/term-insurance/1-crore-term-insurance/">1 Crore
                        Term Insurance</a></p>
                <p><a href="https://www.policybazaar.com/life-insurance/term-insurance-return-of-premium/">Term Return
                        of Premium</a></p>
                <p><a href="https://www.policybazaar.com/health-insurance/cancer-insurance/">Cancer Insurance</a></p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h5>Investment</h5>
                <p><a href="https://www.policybazaar.com/life-insurance/investment-plans/">Investment Plans</a></p>
                <p><a href="https://www.policybazaar.com/life-insurance/child-plans/">Child Plans</a></p>
                <p><a href="https://www.policybazaar.com/life-insurance/pension-plans/">Pension Plans</a></p>
                <p><a href="https://www.policybazaar.com/life-insurance/ulip-plans/">ULIPs</a></p>
                <p><a href="https://www.policybazaar.com/money-back-policy/">Money Back Policy</a></p>
                <p><a href="https://www.policybazaar.com/endowment-policy/">Endowment Policy</a></p>
                <p><a
                        href="https://www.policybazaar.com/life-insurance/investment-plans/articles/tax-saving-investments-with-tax-exempt-returns/">Tax
                        Saving Plans</a></p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h5>Health Insurance</h5>
                <p><a href="https://www.policybazaar.com/health-insurance/health-insurance-india/">Health Insurance</a>
                </p>
                <p><a href="https://health.policybazaar.com/?offerid=26&crsi=true&utm_content=home_v10&new=1">1 Cr
                        Health Cover</a></p>
                <p><a href="https://www.policybazaar.com/health-insurance/family-health-insurance-plan/">Family Health
                        Insurance</a></p>
                <p><a href="https://www.policybazaar.com/health-insurance/senior-citizen-health-insurance/">Senior
                        Citizen Health Insurance</a></p>
                <p><a href="https://www.policybazaar.com/health-insurance/coronavirus-health-insurance/">Coronavirus
                        Insurance</a></p>
                <p><a href="https://www.policybazaar.com/health-insurance/corona-kavach-policy/">Corona Kavach
                        Policy</a></p>
                <p><a href="https://www.policybazaar.com/health-insurance/corona-rakshak-policy/">Corona Rakshak
                        Policy</a></p>
            </div>
        </div>
        <div class="tnc">
            <p>*Standard Plans Terms and Conditions apply <br>
                For insurance plans that do not require inspection of your car<br>
                #The above returns are based on the past performance of 7 years<br>
                *As per Draft Notification No. RT-11036/194/2021-MVL (Govt. of India, Ministry of Road Transport and
                Highways<br>
                *The Guaranteed Returns are dependent on the policy term and premium term availed along with the other
                variable factors. 7.2% rate of return is for a 30 years old, healthy male for a policy term of 10 years
                and premium term of 5 years with Rs.20,000 monthly instalment premium. STANDARD TERMS AND CONDITIONS
                APPLY. For more details on risk factors, terms and conditions, please read the sales brochure carefully
                before concluding a sale.</p>
            <br>
        </div>
    </div>
</div>
<div class="footEle">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 endFoot">
                <ul class="footEles" style="float:left">
                    <li><a>Home</a></li> &nbsp;&nbsp;
                    <li><a>About Us</a></li> &nbsp;&nbsp;
                    <li><a>Sitemap</a></li> &nbsp;&nbsp;
                    <li><a>Careers</a></li> &nbsp;&nbsp;
                    <li><a>Legal &amp; Admin Policies</a>
                    </li> &nbsp;&nbsp;
                    <li><a>ISNP</a></li> &nbsp;&nbsp;
                    <li><a>Insurance Companies</a></li> &nbsp;&nbsp;
                    <li><a>Articles</a></li> &nbsp;&nbsp;
                    <li><a>Contact Us</a></li> &nbsp;&nbsp;
                    <li><a>Know your advisor</a></li> &nbsp;&nbsp;
                    <li><a>Newsroom</a></li> &nbsp;&nbsp;
                    <li><a>Security</a></li> &nbsp;&nbsp;
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="endTnC">
    <div class="container">
        <div class="row">
            <p class="endTnCP"><br>**Discount is offered by the Insurance company as approved by IRDAI for the product
                under
                File & Use
                guidelines <br>
                #On the basis of your profile<br>

                Policybazaar Insurance Brokers Private Limited | CIN: U74999HR2014PTC053454 | Registered Office - Plot
                No.119, Sector - 44, Gurgaon, Haryana - 122001 Tel no. : 0124-4218302 Email ID:
                enquiry@policybazaar.com<br>

                Contact Us | Legal and Admin Policies<br>

                Policybazaar is registered as a Direct Broker | Registration No. 742, Registration Code No. IRDA/ DB
                797/ 19, Valid till 09/06/2024, License category- Direct Broker (Life & General)| Visitors are hereby
                informed that their information submitted on the website may be shared with insurers.Product information
                is authentic and solely based on the information received from the insurers.<br>

                © Copyright 2008-2022 policybazaar.com. All Rights Reserved.</p>
        </div>
    </div>
</div>