#first {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 10px;
}

ul li {
  display: inline;
  font-size: 25px;
}

.blocks-gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}