<form name="OTPform" #frm="ngForm" (ngSubmit)="frm.form.valid && onGetPass(frm)" [ngClass]="cssclass">
    
   
    <div class="form-group">
     <label><b>Enter Password : </b></label>
     
     <input type="password" name="pass" class="form-control" #pass="ngModel" ngModel required  [ngClass]="{'is-invalid':frm.submitted && pass.invalid}" >
      <a href="#">Forgot Password?</a>
     <p *ngIf="pass.errors?.['required']" class="invalid-feedback">
         This Field Can't be empty.
     </p>
     
    </div>
 
    <br>
   
    <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Login In</button>
    
     </div>
 </form>
 
