<!-- <p>home-page works!</p> -->

<!-- <app-navbar class="nav"></app-navbar> -->

<div class="img-main">
    <!-- <img class="main-img" src="../../../assets/30322654.jpg" alt="home-page-icon"> -->
    <img class="main-img" src="../../../assets/21952685.jpg" alt="home-page-icon">
</div>
<div class="section1">
    <div class="container section1container">
        <div class="our-solution section-title">
            <h3>Our Solutions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua.</p>
        </div>
        <div class="row section1row">
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/home-removebg-preview.png"
                            alt="home-insurance image">
                    </div>
                    <h5>Home Insurance</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod incididunt ut incididunt labore
                        et
                        dolore.</p>
                    <br>
                    <h6><a class="learn-more" routerLink="">Learn More</a></h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/business-removebg-preview.png"
                            alt="business-insurance image">
                    </div>
                    <h5>Business Insurance</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod incididunt ut incididunt labore
                        et
                        dolore.</p>
                    <br>
                    <h6><a class="learn-more" routerLink="">Learn More</a></h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/hospital-removebg-preview.png"
                            alt="health-insurance image">
                    </div>
                    <h5>Health Insurance</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod incididunt ut incididunt labore
                        et
                        dolore.</p>
                    <br>
                    <h6><a class="learn-more" routerLink="">Learn More</a></h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/travel2-removebg-preview.png"
                            alt="travel-insurance image">
                    </div>
                    <h5>Travel Insurance</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod incididunt ut incididunt labore
                        et
                        dolore.</p>
                    <br>
                    <h6><a class="learn-more" routerLink="">Learn More</a></h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/car-removebg-preview.png"
                            alt="car-insurance image">
                    </div>
                    <h5>Car Insurance</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod incididunt ut incididunt labore
                        et
                        dolore.</p>
                    <br>
                    <h6><a class="learn-more" routerLink="">Learn More</a></h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/health-removebg-preview.png"
                            alt="life-insurance image">
                    </div>
                    <h5>Life Insurance</h5>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod incididunt ut incididunt labore
                        et
                        dolore.</p>
                    <br>
                    <h6><a class="learn-more" routerLink="">Learn More</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section2">
    <div class="container section1container">
        <div class="client-feedback section-title">
            <h3>What Client Says</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <div class="quote-img">
                <img class="quote-img-main" src=" ../../../assets/9576733508_41be9de570_o-removebg-preview.png"
                    alt="quote-image">
            </div>
            <p class="quote-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna. Quis ipsum suspendisse ultrices gravida.”</p>
            <p class="byauthor">
                ~ Alex Finn.<br>CEO at FirstInsurance.com
            </p>
            <div class="quote-img" style="transform: scale(-1, -1);">
                <img class="quote-img-main" src="../../../assets/9576733508_41be9de570_o-removebg-preview.png"
                    alt="quote-image">
            </div>
        </div>
    </div>
</div>

<div class="section1 section3">
    <div class="container section1container">
        <div class="contact-expert section-title">
            <h3>Get in touch with our Expert</h3>
            <div class="divide-expert row">
                <div class="section3left col-lg-6 col-md-6 col-sm-12">
                    <form action="">
                        <div class="row">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" placeholder="Please enter your full name"
                                aria-label="Full Name">
                        </div><br>
                        <div class="row">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" placeholder="Please enter your email"
                                aria-label="email">
                        </div><br>
                        <div class="row">
                            <label for="number" class="form-label">Number</label>
                            <input type="number" class="form-control" placeholder="Please enter your phone number"
                                aria-label="Phone Number">
                        </div><br>
                        <div class="row">
                            <label for="callback" class="form-label">Request Callback for</label>
                            <select name="" id="" class="form-select">
                                <option value="" *ngFor="let i of callback">{{i.name}}</option>
                            </select>
                        </div><br><br>
                        <div class="row callbackdiv">
                            <button type="submit" class="btn btn-info callbackbtn"><img class="care-img"
                                    src="../../../assets/care-removebg-preview.png" alt="care-image"> Get a Call
                                Back</button>
                        </div><br>
                    </form>
                </div>
                <div class="section3right col-lg-6 col-md-6 col-sm-12">
                    <img class="section3right-img" src="../../../assets/contact-us.png"
                        alt="get-in-touch-with-expert-image">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section4">
    <div class="container section1container">
        <div class="trend-article section-title">
            <h3>Trending Articles & Insights</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 blog1row">
                    <a class="blog-more-anchor" routerLink="">
                        <div class="blog-more-div">
                            <div class="blog-div">
                                <img class="blog-img" src="../../../assets/blog1.jpg" alt="blog1-image">
                            </div><br>
                            <hr>
                            <h6 class="blog-more">Benefits Of Healthy Eating & Regular Exercise</h6>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 blog1row">
                    <a class="blog-more-anchor" routerLink="">
                        <div class="blog-more-div">
                            <div class="blog-div">
                                <img class="blog-img" src="../../../assets/blog2.jpg" alt="blog2-image">
                            </div><br>
                            <hr>
                            <h6 class="blog-more">Advantages Of Top Up Health Insurance Plan</h6>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 blog1row">
                    <a class="blog-more-anchor" routerLink="">
                        <div class="blog-more-div">
                            <div class="blog-div">
                                <img class="blog-img" src="../../../assets/blog3.jpg" alt="blog3-image">
                            </div><br>
                            <hr>
                            <h6 class="blog-more">Difference Between Warranty & Insurance</h6>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 blog1row">
                    <a class="blog-more-anchor" routerLink="">
                        <div class="blog-more-div">
                            <div class="blog-div">
                                <img class="blog-img" src="../../../assets/blog4.jpg" alt="blog4-image">
                            </div><br>
                            <hr>
                            <h6 class="blog-more">Steps To Revive Lapsed Life Insurance Policy</h6>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 blog1row">
                    <a class="blog-more-anchor" routerLink="">
                        <div class="blog-more-div">
                            <div class="blog-div">
                                <img class="blog-img" src="../../../assets/blog5.jpg" alt="blog5-image">
                            </div><br>
                            <hr>
                            <h6 class="blog-more">What Is A Zero Cost Term Insurance Plan?</h6>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 blog1row">
                    <a class="blog-more-anchor" routerLink="">
                        <div class="blog-more-div">
                            <div class="blog-div">
                                <img class="blog-img" src="../../../assets/blog6.jpg" alt="blog6-image">
                            </div><br>
                            <hr>
                            <h6 class="blog-more">Sum Insured In Health Insurance - Details</h6>
                            <br>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section5 section1">
    <div class="container section1container">
        <div class="trend-article section-title">
            <h3>Here’s why you’ll love Our Company</h3>
            <div class="row section1row">
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="" src="../../../assets/acko1.svg" alt="acko1-image">
                        </div>
                        <h5>Incredibly Low Premiums</h5><br>
                        <hr><br>
                        <p>Insuring things that matter to you shouldn’t come at a cost. That’s why when you buy from us,
                            you get insurance that fits your pocket.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="" src="../../../assets/acko2.svg" alt="acko2-image">
                        </div>
                        <h5>Superquick and Easy</h5><br>
                        <hr><br>
                        <p>We’re easy, effortless and 100% digital. Forget paperwork, just access all our services with
                            just a few clicks.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="" src="../../../assets/acko3.svg" alt="acko3-image">
                        </div>
                        <h5>Hassle-free Claims</h5><br>
                        <hr><br>
                        <p>We’re on a mission to make insurance claims stress-free. Just give us a call or file a claim
                            online and experience cashless, speedy claim settlements.</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row section1row">
                <h3>Customer Satisfaction</h3>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="" src="../../../assets/rating.svg" alt="rating-image">
                        </div>
                        <h6>Very good experience. Got the settlement done in less than 24 hours.</h6>
                        <p>~ Rahul Gupta, Delhi</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="" src="../../../assets/rating.svg" alt="rating-image">
                        </div>
                        <h6>Thank you so much for the amazing service, Special thanks to Mr. Rais Shaikh.</h6>
                        <p>~ Somnath Mane, Pune</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="" src="../../../assets/rating.svg" alt="rating-image">
                        </div>
                        <h6>Hassle free insurance & quick response. Absolutely best insurance company ever.</h6>
                        <p>~ Vinit Kumar, Hyderabad</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->