<div >
<div style="display: flex; flex-direction: row; padding:1%;">
    <div style="width:80vw ;"></div>
    <div>
        <button class="btn btn-outline-primary">Get Help</button>
        
    </div>
</div>

<hr>
<div style="display: flex; flex-direction: row; margin: 5% 2% 5% 5%; ">
      <div class="class1" style="background-color:rgba(242,252,255,255);  width: 30vw; justify-items: center; ">
        <img src="./../../../assets/list_icon.jpg" style="height:30vh; width:17vw; margin:10%;">
        <ul>
            <li><h5>Pay or check your premium at a click</h5></li>
            <li><h5>One stop solution for paying life insurance premium</h5></li>
            <li><h5>Secure and hassle free payment options</h5></li>
        </ul>
    </div>
    <div class="class2" style="background-color:whitesmoke; width: 50vw; text-align: center; padding: 1%;">
        <br>
        <h2>Renew Life Insurance Policy</h2>
        <h6>Pay renewal premium and continue enjoying your policy benefits</h6>
        <br>
        
        <h6>Select your insurer</h6>
       
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/aegon-logo.jpg" style="height:5vh; width:7vw">
            <br>
            <h6>Aegon Life <br>Insurance</h6>
        </button>
        &nbsp;  &nbsp;  &nbsp;
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/Bajaj.png" style="height:5vh; width:7vw">
            <br>
            <h6>Bajaj Allianz <br> Life Insurance</h6>
        </button>

        &nbsp;  &nbsp;  &nbsp;
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/Baxa.png" style="height:5vh; width:7vw">
            <br>
            <h6>Bharati Axa <br> Life Insurance</h6>
        </button>
       
        <br>
        <br>
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/ET.png" style="height:5vh; width:7vw">
            <br>
            <h6>Edeweiss Tokio <br> Life Insurance</h6>
        </button>

        &nbsp;  &nbsp;  &nbsp;
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/exide.png" style="height:5vh; width:7vw">
            <br>
            <h6>Exide Life <br> Insurance</h6>
        </button>

        &nbsp;  &nbsp;  &nbsp;
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/HDFC.png" style="height:5vh; width:7vw">
            <br>
            <h6>HDFC Life <br> Insurance</h6>
        </button>

        <br>
        <br>
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/Ipru.png" style="height:5vh; width:7vw">
            <br>
            <h6>ICICI Prudential  <br> Life Insurance</h6>
        </button>

        &nbsp;  &nbsp;  &nbsp;
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/Kotak.png" style="height:5vh; width:7vw">
            <br>
            <h6>Kotak Life <br>  Insurance</h6>
        </button>

        &nbsp;  &nbsp;  &nbsp;
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/MaxLife.png" style="height:5vh; width:7vw">
            <br>
            <h6>Max Life <br>  Insurance</h6>
        </button>

        <br>
        <br>
       <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/PNB.png" style="height:5vh; width:7vw">
            <br>
            <h6>PNB MetLife <br>  Insurance</h6>
        </button>

        &nbsp;  &nbsp;  &nbsp;
        <button type="button" class="btn btn-outline-secondary" style="padding:3%;">
            <img src="../../../assets/TATA.png" style="height:5vh; width:7vw">
            <br>
            <h6>TATA AIA Life <br>  Insurance</h6>
        </button>
    </div>
</div>
</div>