<!-- Title -->
<!-- Title -->
<div class="container" id="first">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-4 col-xs-3">
            <div class="row align-items-center">
                <img src="../../../assets/homeimages.jpg" alt="Snow" class="img-responsive" style="width:100%;">
                <div class="page-title-content">
                    <ul class="d-inline centered text-center">
                        <li>
                            <h2>Home Insurance</h2>
                        </li>
                        <li> <a routerlink="/">Home</a> &nbsp;
                        </li>
                        <li>home Insurance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><br>



<!-- <div class="container bg-primary text-light">
    <div class="row text-center">

        <div class="page-title-content">
            <h2>Home Insurance</h2>
            <ul class="d-inline text-center">
                <li>
                    <a routerlink="/">Home</a> &nbsp;
                </li>
                <li>Home Insurance</li>
            </ul>
        </div>
    </div>
</div>
<br><br> -->


<div>
    <div class="container">
        <!-- Homeowner's policy is a multiple-line insurance policy -->
        <div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h3 style="color:#002E5B"><b>Homeowner's policy is a multiple-line insurance policy </b>
                        </h3>
                        <p>Home insurance or property insurance secures the structure along with its content against
                            unwanted events like fire, theft, natural calamities (storm, cyclone, etc.) or man-made
                            activities (riots and terrorism). With the arrival of auspicious occasions, it is advisable
                            for you to invest in a home insurance policy, as securing your assets is one of the best
                            things to do during this festive time. An unfortunate incident can cause irreversible
                            damage, leading to vulnerable financial losses; hence, it is wise to buy property insurance
                        </p>
                        <p>The Insurance Regulatory and Development Authority of India (IRDAI) has made it mandatory for
                            every insurer to offer a standard home insurance policy known as Bharat Griha Raksha from
                            April 1, 2021. </p>
                        <p>Bharat Griha Raksha provides coverage against loss, damage, or destruction of the home
                            building and its contents due to unforeseen circumstances.Our nation is prone to natural
                            calamities and constant fire incidences, which lead to irreversible damages. For example, in
                            2021, cyclone yaas in Odisha and a major fire incident in Kullu, Himachal Pradesh in
                            December 2021, gutted 15 houses and led to severe destruction of property. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="image text-center">
                        <img src="../../../assets/img1.jpg" width="100%" height="100%" alt="image">
                    </div>
                </div>
            </div>
        </div> <br><br>

        <!-- Four major elements that we offer -->
        <div>
            <h3 style="color:#002E5B"><b>Four major elements that we offer: </b></h3>
            <p>Who take care of a house like their own. Even if you do not own the house, you consider it your own and
                take care of it. You have organised the home to make a home for yourself. Your stay might be limited,
                the memories made there aren’t. So it is your duty to protect the content of your home.</p>

            <div class="row">
                <div class="col-xs-12">
                    <ol class="list-group">
                        <li class="list-group-item">
                            <p>Scientific Skills For getting a better result</p>
                        </li>
                        <li class="list-group-item">
                            <p>Communication Skills to getting in touch</p>
                        </li>
                        <li class="list-group-item">
                            <p> Career Overview opportunity Available</p>
                        </li>
                        <li class="list-group-item">
                            <p> A good Work Environment For work</p>
                        </li>
                    </ol>
                </div>
            </div>
            <br><br>

            <!-- Setting the mood with incense -->
            <h3 style="color:#002E5B"><b>Setting the mood with incense</b></h3>
            <p>Who have invested in a dream. Buying your own home is a huge achievement. For many, it is witnessing
                their dream come to reality. This reality needs to be taken care of. That’s where we step in and help
                you guard your home and its content against possible harm.</p>

            <div class="d-flex">
                <div class="col-lg-4 col-sm-2 column">
                    <img src="../../../assets/home1.jpg" alt="image" style="width:100%">
                </div>
                <div class="col-lg-4 col-sm-2 column">
                    <img src="../../../assets/home6.PNG" alt="image" style="width:100%">
                </div>
                <div class="col-lg-4 col-sm-2 column">
                    <img src="../../../assets/home4.jpg" alt="image" style="width:100%">
                </div>
            </div>

            <p>While home insurance is not mandatory in India, you may think of getting a home insurance plan depending
                upon the risk factors in India. For example, many regions are prone to natural calamities like floods,
                earthquakes and cyclones; do not forget those fire incidents and thefts/burglaries that happen here most
                of the times. While home insurance is not mandatory in India, you may think of getting a home insurance
                plan depending upon the risk factors in India. For example, many regions are prone to natural calamities
                like floods, earthquakes and cyclones; do not forget those fire incidents and thefts/burglaries that
                happen here most
                of the times</p>

            <section class="bg-light">
                <div class="container h-20">
                    <div class="row d-flex align-items-right h-100">
                        <div>
                            <figure class="note note-primary p-4" style="border-left: .25rem solid #2ab9f9;">
                                <blockquote class="blockquote">
                                    <b>
                                        <p style="color:#002E5B">
                                            "It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout."
                                        </p>
                                    </b>
                                </blockquote>
                                <figcaption class="blockquote-footer mb-0">
                                    Tom Cruise
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

            <blockquote class="wp-block-quote">
                <p>It is a long established fact that a reader will be distracted by
                    the readable content of a page when looking at its layout.</p><cite></cite>
            </blockquote>
            <p>Looking at the big picture is important. But taking care of the little details - that’s a superpower too.
                And now, with the variety of home insurance plans we offer, you can ensure that every little thing in
                your house is secured. That way, there’s nothing that can shake off that #HappyFeel vibe in your home.
            </p>
        </div>
    </div>
</div><br>

<div class="section1">
    <div class="container section1container">
        <div class="our-solution section-title">
            <h3 style="color:#002E5B"><b>Add-ons with Truz Home Insurance Policy</b></h3><br>
            <p>Add-ons offer additional coverage for your Home insurance policy.
                However, they
                increase
                the
                cost of your policy so you need to be judicial while opting in. Note that these add-ons
                are subject to
                availability.</p>
        </div>
        <div class="row section1row">
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/fire-icons.webp" alt="add-ons">
                    </div>
                    <h5>Fire Accidents</h5>
                    <hr>
                    <p>A fire accident is quite traumatic and painful. But you can count on us to help you rebuild and restore your home the way it was.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/burgalies.webp" alt="add-ons">
                    </div>
                    <h5>Thefts And Burglaries</h5>
                    <hr>
                    <p>Burglars and thieves come uninvited to your home. Hence, it is better to secure your house with a home insurance policy to avoid financial losses. We cover losses from thefts and try to help you during your hard times..</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/electric-icons.webp" alt="add-ons">
                    </div>
                    <h5>
                        Electrical Breakdown</h5>
                    <hr>
                    <p>You may take care of your electronic appliances and gadgets as much as you can. But sometimes they might breakdown. Worry not, we cover the sudden expenses incurred in case of electrical breakdowns.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/natural-clamites.webp" alt="add-ons">
                    </div>
                    <h5>
                        Natural Calamities</h5>
                    <hr>
                    <p>Natural calamities like floods and earthquakes are beyond anyone’s control and within short span of time it can cause major damage to the home and its content. However, what’s in our control is to protect against potential loss of your home and its belongings with our home insurance policy.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/alternative-accommodation.webp" alt="add-ons">
                    </div>
                    <h5>Alternate Accommodation</h5>
                    <hr>
                    <p>When you are searching for a temporary roof over your head when your home is uninhabitable due to an insured peril, we are there to help. With our alternative accommodation clause**, we ensure that you have a temporary place to stay comfortably till your house is ready for accommodation again.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/accident-damage.webp" alt="add-ons">
                    </div>
                    <h5>Accidental Damage</h5>
                    <hr>
                    <p>Put a seal of safety on expensive fittings and fixtures with our home insurance plan. We truly believe in retaining that you need to protect your precious belongings whether you’re a homeowner or a tenant.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../../assets/man-made_hazards406e006bdca64a9bbdbb0b22274e0cf7.webp" alt="add-ons">
                    </div>
                    <h5>Man-Made Hazards</h5>
                    <hr>
                    <p>A man-made hazard such as riots and terrorism can be just as damaging as a natural disaster. That’s why we’ve committed to doing all we can to help protect you from the financial burden in the aftermath.</p>
                    <br>
                </div>
            </div>
            
        </div>
    </div>
</div><br>


