<div style="background-color:whitesmoke ; height:150vh; width: 99vw; padding:7%; text-align: center;">
    <div class="card" style="height:80vh; width:70vw; margin-left: 9%; display:flex;  flex-direction:row">
        <div class="card-body">
            <img src="../../../assets/akshay-new.webp" style="height:60vh; width:25vw ;">
            <br>
            <br>
            <div style="display:flex; flex-direction:row; ">
                <img src="../../../assets/mr-pb.jpg" style="height:10vh; width:10vw ;">
                <div style="padding-left:2%; color: rgb(79, 79, 185);">
                    <h5>Insurance ka</h5>
                    <h3><b>Super Hero</b></h3>
                </div>
            </div>

        </div>
        <div class="card"
            style="height:65vh; width:35vw; margin: 5%; background-color: whitesmoke; text-align: center;">
            <div class="card-body">
                <p style="font-size:3vh ;">Compare & <strong>Save Upto 85%*</strong> on Car Insurance</p>
                <p style="font-size:3vh ;">Renew in 2 minutes</p>
<br>
                <form class="row g-3">
                    <div class="col-8">
                        <input type="text" class="form-control" id="vehicleNo" placeholder="Enter Car Number: (eg. DL-10-CB-1234)">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-danger mb-3">View Prices -></button>
                    </div>
                </form>
                <hr>
                <br>
                <div class="col-15">
                    <button type="submit" class="btn btn-outline-secondary mb-7">Proceed without car number -></button>
                </div>
<br>
<br>
                <a href="#">Buying a new car? click here</a>
            </div>
        </div>
    </div>
<br><br><br>
    <p style="color:grey ; font-size:2vh" class="col-15">Made with ❤️ in India by Amir
<br>
        +Disclaimer
<br>        
        Savings are based on the comparison between the highest and the lowest premium for own damage cover (excluding add-on covers) provided by different insurance companies for the same vehicle with the same IDV and same NCB. Standard T& C apply.
 <br>       
        Actual time for transaction may vary subject to additional data requirements and operational processes.
  <br>      
        Policybazaar Insurance Brokers Private Limited (formerly known as Policybazaar Insurance Web Aggregator Private Limited | CIN: U74999HR2014PTC053454|Registered Office - Plot No.119, Sector - 44, Gurgaon, Haryana – 122001)
 <br>       
        Policybazaar is now registered as a Direct Broker | Registration No. 742, Registration Code No. IRDA/ DB 797/ 19, Valid till 09/06/2024, License category- Direct Broker (Life & General)|
 <br>       
        Visitors are hereby informed that their information submitted on the website may be shared with insurers. Product information is authentic and solely based on the information received from the insurers.
  <br>      
        © Copyright 2008-2022 policybazaar.com. All Rights Reserved.
   <br>     
        *As per Draft Notification No. RT-11036/194/2021-MVL (Govt. of India, Ministry of Road Transport and Highways)</p>
</div>