<!-- Title -->
<div class="container" id="first">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-4 col-xs-3">
    <div class="row align-items-center">
            <img src="../../assets/carimages.jpg" alt="Snow" class="img-responsive" style="width:100%;">
            <div class="page-title-content">
                <ul class="d-inline centered text-center">
                    <li>
                        <h2>Car Insurance</h2></li>
                       <li> <a routerlink="/">Home</a> &nbsp;
                    </li>
                    <li>Car Insurance</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- <div class="container bg-primary text-light">
    <div class="row text-center">

        <div class="page-title-content">
            <h2>Car Insurance</h2>
            <ul class="d-inline text-center">
                <li>
                    <a routerlink="/">Home</a> &nbsp;
                </li>
                <li>Car Insurance</li>
            </ul>
        </div>
    </div>
</div>
<br><br> -->

<!-- What is Car Insurance -->
<div class="car" id="what-is-car-insurance">
    <div>
        <h3 class="text-center">What is car insurance?</h3>
        <p class="text-center">Car insurance refers to an insurance policy that covers various
            car-related risks. You need to pay an insurance premium to purchase a car insurance policy from an insurer
            (for example, TRUZ). And if your car faces damages or you cause damage to others via the insured car, your
            insurer will offer financial assistance, as per the applicable terms and conditions.</p>
    </div>
</div><br>

<!-- Why do we need insurance for cars? -->
<div class="car">
    <h3 class="text-center">Why do we need insurance for cars?</h3>
    <p>We need insurance for cars mainly because of the following two reasons..</p>
    <ul>
        <li>
            It offers financial help in case of damages.
        </li>
        <li>
            And it is mandatory.
        </li>
    </ul>
    <p>Without car insurance, you may face a lot of trouble legally as well as
        financially. Thus, it’s crucial to buy a suitable policy to meet these requirements.</p>
</div><br>

<!-- What are the different types of car insurance policies in India? -->
<div class="car">
    <h3 class="text-center">What are the different types of car insurance policies in India?</h3>
    <p class="text-center">Different types of car insurance policies might be marketed via
        different names, but at their core they offer the following foundational coverages.</p><br><br>
    <div class="card-group ">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">1. Third-party Liability Policy</h5>
                <p class="card-text">A Third-party Car Insurance Policy is mandatory according to The Motor
                    Vehicles
                    Act, 1988. Thus, you cannot drive a car legally on Indian public roads without buying at
                    least
                    this
                    policy. Why? Because it offers coverage against third-party liabilities like injury, death,
                    and
                    property damage
                </p>

            </div>
        </div>
        <div class="card mb-3">

            <div class="card-body">
                <h5 class="card-title">2. Own Damage Car Insurance</h5>
                <p class="card-text">While your Third-party Car Insurance Policy helps you in case of
                    third-party
                    liabilities, it does not offer any assistance in case your car gets damaged. For that, you
                    need
                    an
                    Own Damage (OD) cover. It is focused on insuring your car against damages arising from
                    accidents,
                    calamities, etc.
                </p>

            </div>
        </div>
        <div class="card mb-3">

            <div class="card-body">
                <h5 class="card-title">3. Comprehensive Car Insurance PolicySave Effort</h5>
                <p class="card-text">A Comprehensive Car Insurance Policy merges the benefits of a Third-party
                    Policy
                    and an Own Damage cover making it a must-have. Here, you can also opt for suitable add-ons
                    to
                    enhance your coverage.</p>

            </div>
        </div>
    </div>
</div><br>

<!-- Features -->
<div class="section5 section1">
    <div class="container section1container">
        <div class="trend-article section-title">
            <h3 class="text-center">Key Features of TRUZ online car insurance</h3><br>
            <p class="text-center">Insuring your car with us is simple, easy, and convenient. Being digital-first
                helps
                us seamlessly offer almost all of our services online. Additionally, you get the following key
                features.
            </p>
            <div class="row section1row">
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">

                        <u><b>
                                <h5 class="side">Incredibly low premiums</h5>
                            </b></u><br>
                        <p class="side">Thanks to our digital setup, our operational costs are low, and we sell car
                            insurance policies directly to you, without middlemen commissions. This results in lower
                            premiums</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">

                        <u><b>
                                <h5 class="side">Zero paperwork</h5>
                            </b></u><br>
                        <p class="side">TWith TRUZ, there’s no need to spend time and effort filling out physical
                            forms
                            to insure your car. Nor do you have to submit a long list of documents. Everything’s
                            online!
                        </p><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">

                        <u><b>
                                <h5 class="side">Stress-free claims</h5>
                            </b></u><br>
                        <p class="side">Gone are days when you had to stress over raising a car insurance claim.
                            With
                            features such as free pickup and drop*, three-day repair guarantee*, and claim tracking,
                            your claims experience with us is bound to be stress-free! (*as per terms and
                            conditions).
                        </p><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">

                        <u><b>
                                <h5 class="side">Instant settlement</h5>
                            </b></u><br>
                        <p class="side">Gone are days when you had to stress over raising a car insurance claim.
                            With
                            features such as free pickup and drop*, three-day repair guarantee*, and claim tracking,
                            your claims experience with us is bound to be stress-free! (*as per terms and
                            conditions).
                        </p><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">

                        <u><b>
                                <h5 class="side">Total convenience</h5>
                            </b></u><br>
                        <p class="side">Want to buy car insurance at midnight? Available. Renew the policy on a
                            Sunday?
                            Available. Raising claims on a public holiday? Available. With ACKO, you get total
                            convenience for all things insurance!
                        </p><br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">

                        <u><b>
                                <h5 class="side">24x7 Support</h5>
                            </b></u><br>
                        <p class="side">We know that accidents are unpredictable. Thus, you can avail of our 24x7
                            support,
                            one way or the other, as and when you require insurance assistance. We are just a
                            call/click
                            away!
                        </p><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>

<!-- What’s covered in TRUZ’s Car Insurance Policy? -->
<div class="car">
    <div>
        <h3 class="text-center">What’s covered in TRUZ’s Car Insurance Policy?</h3>
    </div><br>
    <div>
        <p>The following situations are covered under our Comprehensive Four
            wheeler Insurance Policy. For inclusions related to a specific plan, please check respective policy
            wordings.</p>
    </div><br>
    <div>
        <p><b>✅ Third-party liabilities: </b>The coverages offered under a
            basic Third-party Liability Plan, like property damage, are covered under a Comprehensive Car
            Insurance Policy.</p>
    </div>
    <div>
        <p><b>✅ Accidents: </b>Accidents are unpredictable and can lead to
            major effects on health and financial well being of the people involved.</p>
    </div>
    <div>
        <p><b>✅ Fire: </b>There could be multiple reasons why your car suffers
            fire damage. Situations like vandalism, self-ignition, etc., could be a few.</p>
    </div>
    <div>
        <p><b>✅ Theft: </b>Car theft is common in India and you could face a
            heavy financial loss if your car gets stolen. A Comprehensive Policy includes this coverage.</p>
    </div>
    <div>
        <p><b>✅ Calamities: </b>Damage from both, natural and man-made
            calamities are covered under a Comprehensive Car Insurance Policy.</p>
    </div>
    <div>
        <p><b>✅ Terrorist activities: </b>Damage to your car due to a
            terrorist activity can lead to major repairs. This is covered under our four wheeler insurance
            policy.</p>
    </div>
</div><br>

<!-- Add-ons -->
<div class="section1">
    <div class="container section1container">
        <div class="our-solution section-title">
            <h3>Add-ons with Truz Car Insurance Policy</h3><br>
            <p>Add-ons offer additional coverage for your car insurance policy.
                However, they
                increase
                the
                cost of your policy so you need to be judicial while opting in. Note that these add-ons
                are subject to
                availability.</p>
        </div>
        <div class="row section1row">
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture1.PNG" alt="add-ons">
                    </div>
                    <h5>Zero Depreciation Cover</h5>
                    <hr>
                    <p>An insurer considers depreciation on car parts while
                        calculating the
                        claim
                        amount. But with a Zero Depreciation Cover you can get depreciation
                        covered under your
                        Comprehensive Car Insurance Policy.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture2.PNG" alt="add-ons">
                    </div>
                    <h5>Roadside Assistance Cover</h5>
                    <hr>
                    <p>With Roadside Assistance add-on you get access to 24x7
                        emergency
                        roadside
                        assistance, including towing services during car breakdowns. Call us if
                        you get stranded
                        on
                        the
                        road due to breakdown and we will help you out.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture3.PNG" alt="add-ons">
                    </div>
                    <h5>Key Replacement Cover</h5>
                    <hr>
                    <p>The Key Replacement Cover helps you cover the cost of
                        repairing the
                        car's
                        key
                        and lockset if damaged. The coverage extends to replacing the key and
                        lock on the car in
                        case of
                        lost keys or theft attempts.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture4.PNG" alt="add-ons">
                    </div>
                    <h5>Outstation Emergency Cover</h5>
                    <hr>
                    <p>Outstation Emergency Cover focuses on insuring you in
                        case of
                        accidents/breakdowns that occur beyond a 100 km radius of your
                        residence. Get coupons if
                        the
                        car’s repair time exceeds 12 hours.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture5.PNG" alt="add-ons">
                    </div>
                    <h5>Consumables Cover</h5>
                    <hr>
                    <p>The cost of items such as gearbox oil, engine oil, nut
                        and bolt,
                        lubricants,
                        etc are usually not covered during claim settlement. With Consumables
                        Add-on, we will
                        cover
                        such
                        costs while settling claims.
                        Policy.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture6.PNG" alt="add-ons">
                    </div>
                    <h5>Engine Protection Cover</h5>
                    <hr>
                    <p>Usually, the car's engine is not covered under
                        Comprehensive Coverage.
                        With
                        the
                        Engine Protection add-on, you get coverage for the repair or replacement
                        of the engine.
                        This
                        is
                        as per the terms and conditions of the policy.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture7.PNG" alt="add-ons">
                    </div>
                    <h5>No Claim Bonus (NCB) Protection</h5>
                    <hr>
                    <p>NCB Protection add-on keeps the NCB discount intact
                        even if you make a
                        claim.
                        With this add-on, you can raise a claim and still get a No Claim Bonus
                        discount of up to
                        50%
                        on
                        car insurance renewals.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture8.PNG" alt="add-ons">
                    </div>
                    <h5>Return to Invoice Cover</h5>
                    <hr>
                    <p>Return to Invoice Cover is useful in case of theft or
                        damage-beyond-repair
                        claims. With this add-on, you can claim the complete amount as per the
                        car's invoice
                        value. Return to Invoice Cover is useful in case of theft or
                        damage-beyond-repair
                        claims.</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 section1row">
                <div class="mycard">
                    <div class="card-img">
                        <img class="cardSep-img" src="../../assets/Capture9.PNG" alt="add-ons">
                    </div>
                    <h5>Personal Accident Cover for Passengers</h5>
                    <hr>
                    <p>This add-on allows you to insure the passengers in your
                        car in case of
                        unfortunate accidents leading to permanent disability/death. It has a
                        sum insured of up
                        to
                        Rs. 1
                        lakh/passenger.</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div><br>

<!-- Why choose TRUZ -->
<div class="section5 section1">
    <div class="container section1container">
        <div class="trend-article section-title">
            <h3 class="text-center">Why choose Truz for online car insurance?</h3><br>
            <p class="text-center">We are trusted by crores of people across India for their insurance
                needs. Not only
                motor,
                but we also insure
                risks during your daily travels, hospitalisation, and mobile damage. Here are a few
                reasons why we can
                be
                your
                go-to car insurer.</p>
            <div class="row section1row">
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="rounded mx-auto d-block" src="../../assets/savetime.PNG" alt="acko1-image">
                        </div>
                        <b>
                            <h5 class="text-center">Save Time</h5>
                        </b>
                        <p class="center">We harness the power of being a digital-first company.
                            With that comes
                            the
                            ability to automate processes. Pair this with an efficient team, and we
                            can complete
                            insurance-related services such as policy buying/renewing, settling
                            claims, etc.,
                            efficiently.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="rounded mx-auto d-block" src="../../assets/savemoney.PNG" alt="acko1-image">
                        </div>
                        <b>
                            <h5 class="text-center">Save Money</h5>
                        </b> <br>
                        <p class="center">With traditional insurance, a significant part of your
                            premium can go
                            towards
                            commissions for third-party dealers or middlemen. Since we sell directly
                            to you, the
                            commission
                            part of the premium is saved.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="rounded mx-auto d-block" src="../../assets/saveeffort.PNG" alt="acko1-image">
                        </div>
                        <b>
                            <h5 class="text-center">Save Effort</h5>
                        </b> <br>
                        <p class="center">Buying car insurance online from us saves a lot of your
                            effort. You can
                            access
                            our services from anywhere, anytime, through our app/website. Just log
                            in to your TRUZ
                            account
                            and find all you need in a few clicks.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="rounded mx-auto d-block" src="../../assets/Highly rated go to app.PNG"
                                alt="acko1-image">
                        </div><br>
                        <b>
                            <h5 class="text-center">Highly-rated, go-to app</h5>
                        </b> <br>
                        <p class="center">Our app serves as a go-to place for anything
                            related to car
                            insurance. From purchase to claims, all can be done within a few
                            clicks. It’s
                            simple
                            and
                            clutter-free.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="rounded mx-auto d-block" src="../../assets/instant discount.PNG"
                                alt="acko1-image">
                        </div><br>
                        <b>
                            <h5 class="text-center">Instant discounts</h5>
                        </b> <br>
                        <p class="center">We have unique plans tailored to your needs.
                            They are not
                            available anywhere else. Buying or renewing your plan during
                            special events can
                            lead
                            to
                            higher
                            discounts.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 section1row">
                    <div class="section5-div">
                        <div class="card-img">
                            <img class="rounded mx-auto d-block" src="../../assets/strongcustomer.PNG"
                                alt="acko1-image">
                        </div>
                        <b>
                            <h5 class="text-center">Strong 7.7 crore+ customer base</h5>
                        </b> <br>
                        <p class="center">We have an ever-increasing base of crores of
                            customers all
                            around the country. Not only motor insurance, but we provide
                            multiple solutions
                            for
                            health,
                            corporate, and microinsurance as well.</p>
                        <br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>