<!-- <p>health-insurance works!</p> -->


<div class="contaniner" id="first">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-4 col-xs-3">
            <div class="row align-items-center">
                <img src="../../../assets/bac-health.jpg" alt="Snow" class="img-responsive" style="width:100%;">
                <div class="page-title-content">
                    <ul class="d-inline centered text-center">
                        <li>
                            <h2 style="font-size: 50px;">Health Insurance</h2>
                        </li>
                        <li> <a routerlink="/">Home</a> &nbsp;
                        </li>
                        <li>Health Insurance</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- <div style=" background-color: rgb(20, 142, 248);margin-bottom: 100px;">
        <h1 style="text-align: center; padding-top: 50px ; color:white ;">Health Insurance</h1>
        <!-- <img src="../../../assets/health-insurance/bac-health.jpg" alt=""> -->
    </div> &nbsp;&nbsp;
    <div class="row">
        <div class="col-md-6">
            <h3 style="color:#002E5B ;">Health policy is a multiple-line insurance policy</h3> <br>
            <p>Health Insurance is a type of insurance that covers the medical expenses of the insured due to an illness
                or accident in exchange for a premium amount. It enables the insurance company to provide medical
                coverage for hospitalization expenses, day care procedures, critical illnesses, etc. A health plan also
                offers multiple benefits, including cashless hospitalization and free medical check-ups..<br><br>

                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. <br><br>

                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some for.</p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/leftHeroImage.webp" alt="" height="500px">
        </div>
    </div> <br><br>
    <div class="row">

        <h3 style="color:#002E5B;">Four major elements that we offer:</h3>
        <p>Health Insurance is a contract between the policyholder and the insurer where the health insurance company
            provides financial coverage to the insured up to the sum insured limit. It offers medical coverage for
            healthcare expenses incurred during an emergency or planned hospitalization. It also provides tax savings on
            the premium paid to the insurance company under Section 80D of the Income Tax, 1961..</p>

    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <ul class="features-list">
                <li class="fsa fa-check">Scientific Skills For getting a better result</li>
                <li class="fsa fa-check">Communication Skills to getting in touch</li>
                <li class="fsa fa-check">A Career Overview opportunity Available</li>
                <li class="fsa fa-check">A good Work Environment For work</li>
            </ul>

        </div>
        <div class="col-md-6 col-lg-6">
            <ul class="features-list">
                <li class="fsa fa-check">Scientific Skills For getting a better result</li>
                <li class="fsa fa-check">Communication Skills to getting in touch</li>
                <li class="fsa fa-check">A Career Overview opportunity Available</li>
                <li class="fsa fa-check">A good Work Environment For work</li>
            </ul>

        </div>
    </div> <br><br>
    <h3 style="color: #002E5B;">Setting the mood with incense</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore
        et dolore magnam aliquam quaerat voluptatem.</p> <br>
        <div class="wp-block-gallery columns-3 row"
        style="display: flex;list-style-type: none; margin-bottom: 25px; margin-top: 20px;">
        <div class="blocks-gallery-item col-lg-4 col-md-6 col-sm-12">
            <figure>
                <img src="../../../assets/img1.jpg" alt="" height="350px" width="350px">
            </figure>
        </div>
        <div class="blocks-gallery-item col-lg-4 col-md-6 col-sm-12">
            <figure style="margin-right: 10px;">
                <img src="../../../assets/img2.jpg" alt="" height="350px" width="350px">
            </figure>
        </div>
        <div class="blocks-gallery-item col-lg-4 col-md-6 col-sm-12">
            <figure>
                <img src="../../../assets/img3.jpg" alt="" height="350px" width="350px">
            </figure>
        </div>
    </div>
    
     <br>
    <p>Medical inflation is increasing every day making treatments expensive. If you get hospitalized for a critical
        illness or lifestyle disease, you may end up losing all your savings. The only way to afford quality medical
        treatment during a health emergency is by buying a health insurance policy. Take a look at some of the top
        reasons to buy a health insurance plan below:.</p> <br><br>
    <b> Beat Medical Inflation </b>- A health insurance policy can help you pay your medical bills, including pre and
    post-hospitalization expenses, today as well as in future despite the rising medical costs. <br>
    <b> Afford Quality Medical Treatment</b> - It helps you to afford the best quality medical treatment and care so
    that you
    can focus only on getting cured. <br>
    <b>Fight Lifestyle Diseases</b> - It allows you to pay for the long-term treatment of lifestyle diseases like
    cancer, heart
    attack, etc. that have been on the rise with the changing lifestyles. <br>
    <b> Protect Your Savings </b>- It helps you to protect your hard-earned savings by covering your medical expenses so
    that
    you can avail the required treatment without any financial worries. <br>
    <b>Avail Cashless Hospitalization Facility</b> - It allows you to obtain a cashless hospitalization facility at any
    of the
    network hospitals of your insurance provider by raising a cashless claim. <br>
    <b> Get Tax Benefits</b> - It enables you to save tax on the health insurance premium that you’ve paid under section
    80D of
    the Income Tax Act for better financial planning. <br>
    <b>Ensure Peace of Mind</b> - It allows you to obtain medical treatment with peace of mind as you do not have to
    worry
    about paying the hefty hospital bills. <br><br>
    <blockquote _ngcontent-llk-c33="" class="wp-block-quote">
        <p _ngcontent-llk-c33="">It is a long established fact that a reader will be distracted by the readable content
            of a page when looking at its layout.
    </blockquote>
    <h3 style="padding:15px ;color: #002E5B;"> Health insurance News </h3>
    <div class="card-group">
        <div class="card">
            <img src="../../../assets/tpa-in-health-insurance-policy.webp" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">New Health</h5>
                <p class="card-text">Future Generali Launches a New Health Plan for Everyday Use.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">13 Sep 2022</small>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/health-insurance-renewal-facts.webp" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">New Health</h5>
                <p class="card-text">Aditya Birla Launches New Health Plan for Healthy & Active People.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">04 Oct 2022</small>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/health-pre-exisitng-disease-desktop.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">New Health</h5>
                <p class="card-text">IRDAI Suggests Parallel Investments in Health & Insurance The Insurance Regulatory
                    & Development Authority of India (IRDAI) has highlighted the need for parallel investments in health
                    insurance and.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">31 Aug 2022</small>
            </div>
        </div> <br> <br> <br>
        <div>
            <h2 style="color:#002E5B;">What is Family Health Insurance?</h2> <br>
            <p>A family health insurance plan is a kind of medical insurance that covers all your family members in a
                single health insurance policy. Under this plan, a fixed sum insured is shared by all family members
                with an assumption that not everyone will get sick at the same time. Most family health insurance plans
                offer cashless hospitalization facilities, maternity benefits and cover pre & post hospitalization as
                well. </p>
        </div>
        <div style="display: flex; margin: 50px;  justify-content: space-between;">
            <img src="../../../assets/download.png" alt="" > &nbsp;&nbsp;
            <img src="../../../assets/download (1).png" alt="" > <br>

        </div>
    </div>